{
    "presets": ["next/babel"],
    "plugins": [
      [
          "module-resolver",
          {
              "root": ["."],
              "alias": {
                  "@icons": "./public/icons",
                  "@components": "./components",
                  "@common": "./components/common",
                  "@theme": "./components/theme",
                  "@utils": "./utils",
                  "@data": "./data"
              }
          }
      ]
    ]
  }